<div id="content">
    <div class="row">

        <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div sa-widget [colorbutton]="false" [editbutton]="false" [custombutton]="false">
                <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" [editbutton]="false">
          
                    [colorbutton]="false"
                    [editbutton]="false"
                    [togglebutton]="false"
                    [deletebutton]="false"
                    [fullscreenbutton]="false"
                    [custombutton]="false"
                    [collapsed]="true"
                    [sortable]="false"
          
                    -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                    <h2>Termos de uso</h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <form name="newForm" class="smart-form">

                            <fieldset>
                                <section>
                                    <input #file type="file" multiple (change)="upload(file.files)" />
                                    <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
                                        {{progress}}%
                                    </span>

                                    <span style="font-weight:bold;color:green;" *ngIf="message">
                                        {{message}}
                                    </span>

                                </section>

                            </fieldset>
                        </form>
                        <vg-player>
                            <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                                <source src="https://s3.us-east-2.amazonaws.com/visib/backgroundvideo.mp4" type="video/mp4">
                            </video>
                        </vg-player>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
    </div>
</div>