<div id="content">
        <div sa-widget [editbutton]="false" color="blueDark">
            <header><span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Cadastro de textos multi-idioma</h2>
            </header>
        </div>
        <div class="row">
    
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
    
                <!-- Widget ID (each widget will need unique ID)-->
                <div sa-widget>
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
    
                        <h2>Cadastro de perguntas e respostas</h2>
    
                    </header>
    
                    <!-- widget div-->
                    <div>
    
                        <!-- widget content -->
                        <div class="widget-body no-padding">
    
                            <form class="smart-form">
                                <!-- <header>
                                        Standard Form Header
                                    </header> -->
    
                                <fieldset>
    
                                    <section>
                                        <label class="label">Tela</label>
                                        <label class="input">
                                            <input type="text" readonly [(ngModel)]="textTranslation.screen" name="screen">
                                        </label>
                                    </section>
    
                                    <section>
                                        <label class="label">Chave</label>
                                        <label class="input">
                                            <input type="text" readonly [(ngModel)]="textTranslation.key" name="key">
                                        </label>
                                    </section>
    
                                    <section>
                                        <label class="label">Texto(pt-BR)</label>
                                        <label class="input">
                                            <input type="text" [(ngModel)]="textTranslation.value" name="value">
                                        </label>
                                    </section>
    
                                    <section>
                                        <label class="label">Text(en-US)</label>
                                        <label class="input">
                                            <input type="text" [(ngModel)]="textTranslation.valueEnUs" name="valueEnUs">
                                        </label>
                                    </section>
    
                                    <section>
                                        <label class="label">Texto(es)</label>
                                        <label class="input">
                                            <input type="text" [(ngModel)]="textTranslation.valueEs" name="valueEs">
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="button" (click)="save()" class="btn btn-primary">
                                        Salvar
                                    </button>
                                    <button type="button" class="btn btn-default" routerLink="/cadastros/textTranslation">
                                        Voltar
                                    </button>
                                </footer>
                            </form>
    
                        </div>
                        <!-- end widget content -->
    
                    </div>
                    <!-- end widget div -->
    
                </div>
                <!-- end widget -->
    
            </article>
            <!-- END COL -->
    
    
        </div>
    </div>